source https://api.nuget.org/v3/index.json

storage:none
lowest_matching: true

nuget Elmish.Toastr
nuget Feliz ~> 1.29
nuget FSharp.Core ~> 4.7.2
nuget Fable.Core ~> 3.1.6
nuget Fable.Elmish.React
nuget Fable.Elmish.HMR
nuget Fable.Elmish.Debugger

group Build
    framework >= net45
    source https://api.nuget.org/v3/index.json
    nuget FAKE ~> 4.64.6